
@{
    ViewBag.Title = "Error";
}

<h2 style="color:darkred;background-color:lightcoral;text-align:center;font-family:'Palatino Linotype';font-weight:bold">Error</h2>
<div style="font-weight:bold;border:3px solid red;border-radius:22px;padding:15px;background-color:lightpink">
    <p><strong>Query:</strong> @ViewBag.query</p>
    <p><strong>Error:</strong> @ViewBag.error</p>
</div>
